<md-toolbar class="top-fixed">
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" aria-label="More" ui-sref="app.landing">
      <i class="fa fa-home fa-2x"></i>
    </md-button>  
    <h2 class="truncateTitle" flex>Soal {{vm.mapel}}</h2>
    <md-button class="md-icon-button" aria-label="Search">
      <i class="fa fa-search fa-2x"></i>
    </md-button>
    <md-button class="md-icon-button" aria-label="More">
      <md-icon class="fa fa-ellipsis-v fa-2x"></md-icon>
    </md-button>
  </div>
</md-toolbar>

<!-- <md-content layout="row" class="top-sheet" flex>
  <div style="background-color: white; color: black;">aaa</div>
</md-content> -->

<md-content class="body-padding" layout="column" flex>
  <md-tabs md-stretch-tabs="always" md-dynamic-height md-border-bottom>
    <md-tab label="Pilihan Ganda">
      <md-content flex>
        <md-list-item class="md-2-line" ng-repeat="soal in vm.pgSoals" ng-click="null">
          <div class="md-list-item-text" layout="column">
            <h3>Kelas: {{soal.stage_id}}</h3>
            <h4>Level: {{soal.level}}</h4>
          </div>
          <div class="cellQuestion">{{soal.question}}</div>
          <md-divider></md-divider>
        </md-list-item>
      </md-content>
    </md-tab>
    <md-tab label="Essay">
      <md-content flex>
        <md-list-item class="md-2-line" ng-repeat="soal in vm.esSoals" ng-click="null">
          <div class="md-list-item-text" layout="column">
            <h3>Kelas: {{soal.stage_id}}</h3>
            <h4>Level: {{soal.level}}</h4>
          </div>
          <div class="cellQuestion">{{soal.question}}</div>
          <md-divider></md-divider>
        </md-list-item>
      </md-content>
    </md-tab>
  </md-tabs>
</md-content>