.box-large{
  margin: .2vw;
  font-size: 5em;
  text-align: center;
  line-height: 147px;
  color: whitesmoke;
  border-top: solid 3px;
}
.boxwidth{
  margin:0 25px;
  z-index: 1;
}
.boxstage{
  text-align: center;
  margin-top: 3px;
  span{
    font-size: 6em;
    font-weight: 600;
  }
}
.boxmapel{
  text-align: center;
  margin-top: 3px;
  padding-top: 15px;
  span{
    font-size: 1.6em;
    font-weight: 600;
  }
}
.box-width{
  font-size: x-large;
  margin: 3px 0 3px 0;
  padding-left: 10px;
  padding-top: 25px;
  padding-bottom: 25px;
  background: whitesmoke;
}
.box-large:hover{
  background-color: transparent !important;
}
.box-width:hover{
  opacity: .7;
}
.get-option{
  text-align: center;
  padding-top: 15px;
  margin: 0 2px -12px 2px;
  background-color: whitesmoke;
  p{
    min-height: 43px;
  }
}