.box-large{
  margin: 1px;
  font-size: 5em;
  text-align: center;
  line-height: 160px;
  color: whitesmoke;
}
.boxwidth{
  margin:0 25px;
  z-index: 1;
}
.boxstage{
  text-align: center;
  margin-top: 3px;
  span{
    font-size: 6em;
    font-weight: 600;
  }
}
.boxmapel{
  text-align: center;
  margin-top: 3px;
  padding-top: 15px;
  span{
    font-size: 1.6em;
    font-weight: 600;
  }
}
.box-width{
  font-size: x-large;
  margin: 3px 0 3px 0;
  line-height: 80px;
  padding-left: 10px;
  background: whitesmoke;
}
.box-large:hover,
.box-width:hover{
  opacity: .7;
}
.get-option{
  text-align: center;
  border-radius: 5px;
  padding-top: 15px;
  margin: 0 1px;
  background-color: whitesmoke;
  p{
    min-height: 45px;
  }
}